./idea/
/.idea/.gitignore
/.idea/discord.xml
/.idea/MetroBoomin.iml
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/node_modules
/.idea/codeStyles/codeStyleConfig.xml
/.idea/material_theme_project_new.xml
